* {
    margin: 0;
    padding: 0;
    font-family: Josefin Sans;
    /* border: 1px solid black; */
    border-color: #18181a;
    color: #18181a;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header,
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 60px;
    background-color: white;
    box-shadow: 0 0 10px darkgray;
}

.header {
    font-weight: 300;
    font-size: 35px;
    letter-spacing: 5px;
}

.footer {
    font-weight: 400;
}

.footer ul li {
    display: inline;
    padding: 0 30px 0 30px;
    letter-spacing: 2px;
}
/* Setting up the ball/button box  */

.main {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    width: 300px;
    height: 550px;
   
}

.ball {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
}

.button {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.answer {
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    transition: all ease-in-out 0.5s;
}

/* Shaping the ball where the answer will show */

.outerBall {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 87%;
    border-radius: 50%;
    border: 3px solid;
}

.innerBall {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 43%;
    height: 43%;
    border-radius: 50%;
    border: 3px solid;
    box-shadow: 0 0 120px #011447;
    background-color: #d6dff7;
}

/* Styling the input box */

.question input {
    width: 85%;
    height: 70%;
    text-align: center;
    text-transform: uppercase;
    border: 3px solid;
    border-radius: 5px;
    font-size: 13px;
    ;
}

/* Styling the Shake & reset button */

.button button {
    padding: 10px;
    width: 50%;
    background: none;
    border: 3px solid;
    border-radius: 5px;
    font-size: 12px;
    margin-top: 10px;
    letter-spacing: 1px;
   
}

.resetButton button {
    padding: 10px 30px;
    background: none;
    border: 3px solid;
    border-radius: 5px;
    font-size: 12px;
    letter-spacing: 1px;

}

/* button:hover {
    border: 3px solid #0e276d;
    
    
} */


/* Shaking animation for innerBall & outerBall */

.shake {
    animation: shake 0.1s ease-in-out ;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {   
        transform: translateX(5px);
    }
    50% {
        transform: translateX(5px);
    }
    75% {
        transform: translateX(0px);
    }
}